
#igText {
    color: white;
}
/*
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 220px;
}
*/

table thead, tbody {
    text-align: center;
}

@media (max-width: 550px) {
    table thead, tbody {
        font-size: 2vw !important;
    }
}

#navbarTitle {
    color: #fff;
}

.block { display: block; }

.none { display: none; }
